@import "tailwindcss";

h1{
  font-size: 60px;
  position: absolute;
  top:45%;
  left: 45%;
  transform: translate(-50%,-50%);
  text-decoration: underline;
  font-weight: 500;
  white-space: nowrap;
  text-transform: capitalize;
}