*{
  margin:0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
input,button{
  margin:10px;
  padding: 10px 20px;


}