*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}

button{
  padding: 10px 20px;
  margin: 20px;
}
h1{
  background-color: rgb(15, 119, 210);
  width: fit-content;
  font-size: 100px;
  padding: 10px 70px;
  border-radius: 5px;
  margin: 10px;
}